* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #fff;
}

ul,
ol,
li {
    list-style: none;
}

.box {
    width: 1200px;
    margin: 0 auto;
}

.lab {
    margin: 200px auto;
}

.box .lab input[type="text"],
.box .lab input[type="password"],
.box .lab input[type="file"],
.lab select,
button {
    width: 300px;
    height: 30px;
    outline: none;
    border: 1px solid #b2d6f0;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 10px;
}

button {
    margin: 10px auto;
    width: 50px;
}

.disFLEX {
    display: flex;
    align-items: center;
}

.payply dl {
    margin-top: 40px;
}

.payply dt {
    border-bottom: 1px solid #e0e0e0;
    margin-top: 10px;
}

.payply dt span {
    font-size: 20px;
    color: #404145;
    border-bottom: 3px solid #ea3c1f;
    display: inline-block;
    line-height: 60px;
}

.payply dd {
    background: #f5f4f4;
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    padding: 20px;
}

.payply dd .title {
    font-size: 20px;
}

.payply dd .title input {
    margin-right: 5px;
}

.payply dd .card {
    margin: 20px 0;
    padding: 18px 20px;
    background: #fff;
    border: 1px solid #e0e0e0;
}

.payply dd .card p {
    font-size: 14px;
}

.payply dd ul {
    margin: 20px 0 20px 0;
}

.payply dd ul li {
    margin: 0 40px 20px 20px;
    float: left;
}

.payply dd li input {
    float: left;
    margin: 16px 15px 0 0;
}

.payply dd li img {
    float: left;
    cursor: pointer;
}

.clear {
    clear: both;
    height: 0px;
    overflow: hidden;
    *display: inline;
    _display: inline;
    line-height: 0;
}

.payply dd .title {
    font-size: 20px;
}