body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-image: url(../img/login.jpg);
}

.rform {
    position: relative;
    margin: 120px auto;
    width: 350px;
    padding: 5px 25px 40px 25px;
    background: #F7F7F7;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
}

.rform h2 {
    font-size: 40px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;
    ;
    color: #888;
}

.rform .rbutton {
    width: 200px;
    height: 40px;
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    font-size: 20px;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 20px;
}

.rform input[type="text"], input[type="password"], select, input[type="number"] {
    box-sizing: border-box;
    text-align: center;
    height: 30px;
    width: 200px;
    border-radius: 6px;
    border: 1px solid #c8cccf;
    color: #6a6f77;
    text-align: left;
    padding-left: 10px;
    margin: 10px 20px;
}

.rform input[type="text"]:hover, input[type="password"]:hover {
    border: 1px solid #E27575;
}

em {
    font-style: normal;
    padding: 20px;
}