<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员页面</title>
    <link rel="stylesheet" href="css/register.css">
</head>

<body>
    <form action="demo.php" method="POST" class="rform" id="app">
        <h2 align=center>注册</h2>
        <table>
            <tr>
                <td>请输入用户名:</td>
                <td><input type="text" v-model="name" name="username" autofocus="autofocus" autocomplete="off"
                        placeholder="请输入用户名" maxlength="20" id="username"></td>
            </tr>
            <tr>
                <td>请输入注册身份:</td>
                <td><select name="role">
                        <option value=1>管理员</option>
                        <option value=2>用户</option>
                    </select></td>
            </tr>
            <tr>
                <td>请输入个人信息</td>
                <td><input type="text" name="detail" v-model="tel" placeholder="请输入"></td>
            </tr>
            <tr>
                <td>请输入密码:</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td>请再次输入密码:</td>
                <td><input type="password" name="checkpass"></td>
            </tr>
        </table>
        <input class="rbutton" type="button" value="完成注册" onclick="reg()"><br>

    </form>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
	function reg() {
            $.ajax({
            //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "http://localhost:8080/user/register" ,//url
                data: $('#app').serialize(),
                success: function (result) {
					if(result.errno==0)
					{
                    //console.log(result.user);//打印服务端返回的数据(调试用)
					sessionStorage.setItem("cuser",JSON.stringify(result.user));
					alert("注册成功");
					window.location = "index.html";
					//alert(result.resultCode);
                    if (result.resultCode == 200) {
                        alert("SUCCESS");
                    }}
					else
					{
						alert("失败, 原因：" + result.error);
					}
                    ;
                },
                error : function() {
                    alert("异常！");
                }
            });
        }
    </script>

</body>

</html>