<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员页面</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <form action="demo.php" method="POST" class="lform" id="app">
        <h2 align=center>管理员登陆</h2>
        <table>
            <tr>
                <td>用户名:</td>
                <td><input type="text" name="username" autofocus="autofocus" placeholder="请输入用户名" maxlength="20"
                        id="username" v-model="name"></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input type="password" name="password" v-model="password"></td>
            </tr>
        </table>
        <input class="lbutton" type="button" value="登入" onclick="login()" <br>
        <input class="lbutton" type="button" value="注册"><br>
        <input class="lbutton" type="button" value="忘记密码"><br>

    </form>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/adminloginjs.js"></script>

</body>

</html>