<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>极客商城-商品详情页</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/good1.css">
    <link rel="stylesheet" href="./css/css2.css">
	<link rel="stylesheet" href="css/common.css">
</head>

<body>
    <!-- 头部信息 -->
    <div class="header_con">
        <div class="header">
            <div class="fl" id="loginnav">
                <ul>
                    <li>极客商城欢迎您！&nbsp;</li>
                    <li v-if="!seen.visible">
                        <a href="userlogin.html">请登录</a> &nbsp; <a href="adminregister.html" class="style_red">免费注册</a>
                    </li>
					<li v-if="seen.visible">
                        <a href="addressManage.html">{{user.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="user_login">
                <a href="shoppingCart.html">我的购物车</a>
                <span>|</span>
                <a href="订单列表.html">我的订单</a>
            </div>
        </div>
    </div>
    <div class="search_bar clearfix">
        <a href="#" class="logo fl"><img src="img/logo.png"></a>
        <div class="search_con fl">
            <input type="text" class="input_text fl" placeholder="搜索商品">
            <input type="button" class="input_btn fr" value="搜索">
        </div>
        <!-- 购物车模块 -->
        <div class="shopcar" id="shopcart" onclick="window.location = 'shoppingCart.html'">
			<p v-if="seen.visible">我的购物车</p>
			<p v-if="!seen.visible">未登录</p>
            <i class="count" v-if="seen.visible">{{cartnum.num}}</i>
        </div>
    </div>
    <!-- 商品信息栏 -->
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类 <i></i></h1>
            </div>
            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                <li><a href="">手机卖场</a></li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>
    <div class="submena clearfix">
        <a href="home.html">全部分类</a>
        <span>></span>
        <a href="">商品详情</a>
    </div>
    <div class="center_con clearfix" id="app">
        <div class="main_menu fl"><img :src="bgurl"></div>
        <div class="goods_detail_list fr">
            <h3>{{name}}</h3>
            <p>{{message}}</p>
            <div class="prize_bar">
                <div class="show_prize fl">￥<em>{{price}}</em></div>
                <div class="show_unit fl">单位：5000g</div>
            </div>
            <div class="goods_num">
                <table>
                    <tr>
                        <td><span>数量：</span></td>
                        <td><span class="cart-reduce"><button @click="num<=1?1:num-=1">-</button></span>
                            <span class="cart-num"><input type="text" v-model.number="num"
                                    :keyup="num=num<=1?1:num" /></span>
                            <span class="cart-add"><button @click="num+=1">+</button></span>
                        </td>
                    </tr>
                </table>



            </div>
            <div class="total">总价：<em>{{price*num}}元</em></div>
            <div class="operate_btn">
                <!--<a href="" class="buy_btn">立即购买</a> -->
                <a href="javascript:void(0)" class="add_cart" @click="submit">加入购物车</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                id: 1,
                message: "暗影精灵6到飞起，全新升级10代酷睿处理器！轻薄新外观搭载酷凉风暴散热模组！",
                name: "暗影精灵6",
                bgurl: "img/computer.jpg",
                num: 1,
                price: 7800,
                address: "home",
            },
            methods: {
                submit: function () {
                    //console.log(this)
					var uname = JSON.parse(sessionStorage.getItem("cuser")).name;
					var pid = sessionStorage.getItem("cgoodid");
					$.ajax({
						//几个参数需要注意一下
						type: "POST",//方法类型
						dataType: "json",//预期服务器返回的数据类型
						url: "http://localhost:8080/cart/add" ,//url
						data: {"username":uname,"pid":pid,"cnt":this.num},
						success: function (result) {
							console.log(result);
							if(result.errno ==  0)
							{
								alert("添加成功");
							}
							else
							{
								alert("添加失败");
							}
						//Vue.delete();
						},
						error : function() {
							alert("异常！");
						}
					});
                }
            },

        });
		const app4 = new Vue({
            el: "#loginnav",
            data: {
                seen:{
					visible : true
				},
				user: {
				}
            }
        });
		function getinfo()
		{
			var id = sessionStorage.getItem("cgoodid");
			$.ajax({
            //几个参数需要注意一下
                type: "GET",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "http://localhost:8080/product/get" ,//url
                data: {"productId":id},
                success: function (result) {
					console.log(result);
					app.id=result.id;
					app.message=result.detail;
					app.name=result.name;
					app.bgurl='upload/' + result.pic;
					app.num = 1;
					app.price = result.price;
					//Vue.delete();
                },
                error : function() {
                    alert("异常！");
                }
            });
		}
		const app3 = new Vue({
            el: "#shopcart",
            data: {
                seen:{
					visible : true
				},
				cartnum: {
					num : 0
				}
            }
        });
		function getcartnum(username)
		{
			var str = '{"username":"' + username + '"}';
			console.log(str);
			console.log(typeof str);
			var tjson = JSON.parse(str);
			$.ajax({
            //几个参数需要注意一下
                type: "GET",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "http://localhost:8080/cart/list" ,//url
                data: tjson,
                success: function (result) {
					console.log(username);
					console.log(result);
					//app3.$set(app3.cartnum,num,result.length);
					app3.cartnum.num=result.length;
					//Vue.delete();
                },
                error : function() {
                    alert("异常！");
                }
            });
		};
		$(document).ready(function(){
			getinfo();
			if(sessionStorage.getItem("cuser"))
			{
				var tmpuser = JSON.parse(sessionStorage.getItem("cuser")).name;
				//alert(tmpuser);
				getcartnum(tmpuser);
				app4.$set(app4.user,"name",tmpuser);
			}
			else
			{
				app3.seen.visible=false;
				app4.seen.visible=false;
				//alert("login needed");
			}
			
		});
    </script>
</body>

</html>