<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>我的购物车</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/css2.css" />
    <link rel="stylesheet" href="css/sideBar_style.css">
</head>

<body class="myborder">


    <div class="sidebar">
        <!-- sidebartop -->
        <div class="sidebar__top">
            <div class="top">
                <h2>用户面板</h2>
                <div class="humburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <!--sidebar navigation -->
        <div class="sidebar__nav">
            <h5>导航菜单</h5>
            <ul class="sidebar__menu">
                <li class="sidebar__menu--item" onclick="toHome()">
                    <span>商场主页</span>
                </li>
                <li class="sidebar__menu--item" onclick="toOrder()">
                    <span>我的订单</span>
                </li>
                <li class="sidebar__menu--item"  style="background-color: #1376ff;"  onclick="toCart()">
                    <span>我的购物车</span>
                </li>
                <li class="sidebar__menu--item" onclick="toAddr()">
                    <span>收货地址管理</span>
                </li>
                <li class="sidebar__menu--item" onclick="toDetail()" style="display:none;">
                    <span>个人资料</span>
                </li>
                <!-- <li class="sidebar__menu--item"> -->
                <li class="sidebar__menu--item" onclick="toPass()">
                    <span>修改密码</span>
                </li>
            </ul>
        </div>
        <!-- sidebar profile -->
        <div class="sidebar__profile ">
            <div class="avatar ">
                <img src="img/sideBar1.jpg " alt=" ">
            </div>
            <div class="content " id="showusr">
                <strong>Hello</strong>
                <p>{{username}}</p>
            </div>
            <div class="arrow ">
                <svg xmlns="http://www.w3.org/2000/svg " viewBox="0 0 492.004 492.004 ">
                    <path
                        d="M382.678 226.804L163.73 7.86C158.666 2.792 151.906 0 144.698 0s-13.968 2.792-19.032 7.86l-16.124 16.12c-10.492 10.504-10.492 27.576 0 38.064L293.398 245.9l-184.06 184.06c-5.064 5.068-7.86 11.824-7.86 19.028 0 7.212 2.796 13.968 7.86
                  19.04l16.124 16.116c5.068 5.068 11.824 7.86 19.032 7.86s13.968-2.792 19.032-7.86L382.678 265c5.076-5.084 7.864-11.872 7.848-19.088.016-7.244-2.772-14.028-7.848-19.108z " />
                </svg>
            </div>
        </div>
    </div>



    <div class="cartcontainer">
        <div class="cartHead">
            <div style="border-right:1px lightgray solid" id="div1">
                <img src="images/jd1.PNG" height="52px" width="153px"> &nbsp&nbsp&nbsp
            </div>
            <p id="headerTitle">
                &nbsp&nbsp&nbsp&nbsp<a href="login.html" class="gray">商城首页</a>
            </p>

            <div id="gps1">
                <img src="images/gps.png" height="20px" width="14px"> &nbsp北京
            </div>


            <div id="headerNav">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                <a id="a1" href="login.html" class="gray">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp会员中心&nbsp&nbsp&nbsp&nbsp</a>
                <a id="a2" href="login.html" class="gray">订单管理&nbsp&nbsp&nbsp&nbsp</a>
                <a id="a3" href="login.html" class="gray">京东PLUS&nbsp&nbsp&nbsp&nbsp</a>
                <a id="a4" href="login.html" class="gray">海外用户登录&nbsp&nbsp&nbsp&nbsp</a>
                <a id="a5" href="login.html" class="gray">超级卖家&nbsp&nbsp&nbsp</a>
                <a id="a55">|</a>
                <a id="a6" href="login.html" class="gray">&nbsp&nbsp&nbsp帮助&nbsp&nbsp&nbsp&nbsp</a>
                <a id="a7" href="login.html" class="gray">登录反馈</a>
            </div>
        </div>


        <div class="b">
            <div class="cart">
                <div class="cart-title">我的购物车</div>
                <table class="cart-table">
                    <tr>
                        <th width="60"><span class="cart-all">全选</span></th>
                        <th>商品</th>
                        <th width="120">单价</th>
                        <th width="100">数量</th>
                        <th width="120">小计</th>
                        <th width="80">操作</th>
                    </tr>
                    <tr class="cart-item" v-for="(item,index) in list">
                        <td><input type="checkbox" v-model="item.active" @click="item.active=!item.active" class="cart-check" />
                        </td>
                        <td class="cart-txt-left"><span class="cart-name">{{item.name}}</span></td>
                        <td><span class="cart-price">{{item.price}}</span></td>
                        <td><span class="cart-reduce"><input type="button" value="-"
                                @click="item.num<=0?0:item.num-=1"></span>
                            <span class="cart-num"><input v-model.number="item.num"
                                :keyup="item.num=item.num<=0?0:item.num" /></span>
                            <span class="cart-add"><input type="button" value="+" @click="item.num+=1"></span>
                        </td>
                        <td><span class="cart-subtotal">{{item.num*item.price}}</span></td>
                        <td><span class="cart-del"><button @click="remove(index)">移除</button></span></td>
                    </tr>
                    <tr class="cart-bottom">
                        <td colspan="6">
                            <span><button @click="removelot">删除选中的商品</button>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <span><button
                                    @click="removeAll">清空购物车</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                            <span class="cart-bottom-span">已选择<span class="cart-total-num">{{count}}</span>件商品</span>
                            <span class="cart-bottom-span">总计：<span class="cart-total-price">{{total}}</span></span>
                            <span class="cart-bottom-btn" @click="submit">提交订单</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="js/usernav.js"></script>
    <script src="js/shoppingcartjs.js"></script>
</body>

</html>