<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>极客商城-专业的综合网上购物商城，为极客打造！
    </title>
    <!-- 网站说明 -->
    <meta name="description" content="极客商城-专业的综合网上购物商城，为极客打造！" />
    <!-- 关键字 -->
    <meta name="keywords" content="网上购物,网上商城,手机,笔记本,电脑,MP3,相机,数码,配件,存储卡" />

    <!-- 引入favicon图标 -->
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- 引入我们初始化样式文件 -->
    <link rel="stylesheet" href="css/base.css">
    <!-- 引入我们公共的样式文件 -->
    <link rel="stylesheet" href="css/common.css">
    <!-- 引入我们index.css文件  -->
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <!-- 快捷导航模块 start -->
    <section class="shortcut">
        <div class="w">
            <div class="fl" id="loginnav">
                <ul>
                    <li>极客商城欢迎您！&nbsp;</li>
                    <li v-if="!seen.visible">
                        <a href="userlogin.html">请登录</a> &nbsp; <a href="adminregister.html" class="style_red">免费注册</a>
                    </li>
					<li v-if="seen.visible">
                        <a href="addressManage.html">{{user.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="fr">
                <ul>
                    <li>我的订单</li>
                    <li></li>
                    <li class="arrow-icon">我的极客</li>
                    <li></li>
                    <li>极客会员</li>
                    <li></li>
                    <li>企业采购</li>
                    <li></li>
                    <li class="arrow-icon">关注极客</li>
                    <li></li>
                    <li class="arrow-icon">客户服务</li>
                    <li></li>
                    <li class="arrow-icon">网站导航</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- 快捷导航模块 end -->
    <!-- header头部模块制作 start -->
    <header class="header w">
        <!-- logo模块 -->
        <div class="logo">
            <h1>
                <a href="index.html" title="极客商城">极客商城</a>
            </h1>
        </div>
        <!-- search搜索模块 -->
        <div class="search">
            <input type="search" name="" id="searchtext" placeholder="语言开发">
            <button onclick="searchp()">搜索</button>
        </div>
        <!-- hotwords模块制作 -->
        <div class="hotwords">
            <a href="#" class="style_red">优惠购首发</a>
            <a href="#">亿元优惠</a>
            <a href="#">9.9元团购</a>
            <a href="#">美满99减30</a>
            <a href="#">办公用品</a>
            <a href="#">电脑</a>
            <a href="#">通信</a>
        </div>
        <!-- 购物车模块 -->
        <div class="shopcar" id="shopcart">
			<p v-if="seen.visible">我的购物车</p>
			<p v-if="!seen.visible">未登录</p>
            <i class="count" v-if="seen.visible">{{cartnum.num}}</i>
        </div>
    </header>
    <!-- header头部模块制作 end -->
    <!-- nav模块制作 start -->
    <nav class="nav">
        <div class="w">
            <div class="dropdown">
                <div class="dt">全部商品分类</div>
                <div id="typenav" class="dd">
                    <ul>
                        <li style="font-size:14px; color:#FFF" v-for="type in types" onclick="typeshow(this)">{{type}}</li>
                    </ul>
                </div>
            </div>
            <div class="navitems">
                <ul>
                    <li><a href="#">电脑商城</a></li>
                    <li><a href="#">手机卖场</a></li>
                    <li><a href="#">销售网络</a></li>
                    <li><a href="#">服务网络</a></li>
                    <li><a href="#">积分商城</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- nav模块制作 end -->
    <!-- 首页专有的模块 main  start -->
    <div class="w" id="app">
        <div class="main">
            <div class="focus">
                <ul>
                    <li>
                        <a href="#" class="prev" @click="prev" v-show="index>0">&lt;</a>
                        <a href="#" class="next" @click="next" v-show="index<imgList.length-1">&gt;</a>
                        <ul class="promo-nav">
                            <li :class="{selected:index===0}"></li>
                            <li :class="{selected:index===1}"></li>
                            <li :class="{selected:index===2}"></li>
                            <li :class="{selected:index===3}"></li>
                            <li :class="{selected:index===4}"></li>
                        </ul>
                        <img :src="imgList[index]" alt="">
                    </li>
                </ul>
            </div>
            <div class="newsflash">
                <div class="news">
                    <div class="news-hd">
                        <h5>极客快报</h5>
                        <a href="#" class="more">更多</a>
                    </div>
                    <div class="news-bd">
                        <ul>
                            <li><a href="#"><strong>[重磅]</strong> 黑科技来袭，你见过能充电的手机壳吗？</a></li>
                            <li><a href="#"><strong>[重磅]</strong> 6核12线程，这款酷睿i5值得你入手！</a></li>
                            <li><a href="#"><strong>[重磅]</strong> 王者荣耀双开同时玩，目前只有它能做到</a></li>
                            <li><a href="#"><strong>[重磅]</strong> 小米6到手，可能是目前小米最完美的手机！</a></li>
                            <li><a href="#"><strong>[重磅]</strong> 锐龙主板哪家强？华硕B450来帮忙</a></li>
                        </ul>
                    </div>
                </div>
                <div class="lifeservice">
                    <ul>
                        <li>
                            <i></i>
                            <p>iphone</p>
                        </li>
                        <li>
                            <i></i>
                            <p>华为</p>
                        </li>
                        <li>
                            <i></i>
                            <p>vivo</p>
                        </li>
                        <li>
                            <i></i>
                            <p>小米</p>
                        </li>
                        <li>
                            <i></i>
                            <p>三星</p>
                        </li>
                        <li>
                            <i></i>
                            <p>一加</p>
                        </li>
                        <li>
                            <i></i>
                            <p>荣耀</p>
                        </li>
                        <li>
                            <i></i>
                            <p>oppo</p>
                        </li>
                    </ul>
                </div>
                <div class="bargain">
                    <img src="upload/bargain.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- 首页专有的模块 main  end -->
    <!-- 推荐模块 start-->
    <div class="box-bd" id="app2">
        <ul class="clearfix">
            <li v-for="(item,index) in goodList" v-bind:onclick="'showgood(' + index +')'">
                <img :src="'upload/' + item.url" alt="">
                <h4>{{item.name}}</h4>
                <p><span>价格: </span> {{item.price}}元</p>
                <p><span>销量: </span> {{item.num}}件</p>
            </li>

        </ul>
    </div>

    <!-- 底部模块的制作 start -->
    <footer class="footer">
        <div class="w">
            <div class="mod_service">
                <ul>
                    <li>
                        <h5></h5>
                        <div class="service_txt">
                            <h4>正品保障</h4>
                            <p>正品保障,提供发票</p>
                        </div>
                    </li>
                    <li>
                        <h5></h5>
                        <div class="service_txt">
                            <h4>正品保障</h4>
                            <p>正品保障,提供发票</p>
                        </div>
                    </li>
                    <li>
                        <h5></h5>
                        <div class="service_txt">
                            <h4>正品保障</h4>
                            <p>正品保障,提供发票</p>
                        </div>
                    </li>
                    <li>
                        <h5></h5>
                        <div class="service_txt">
                            <h4>正品保障</h4>
                            <p>正品保障,提供发票</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mod_help">
                <dl>
                    <dt>服务指南</dt>
                    <dd><a href="#">购物流程</a></dd>
                    <dd><a href="#">会员介绍</a></dd>
                    <dd><a href="#">生活旅行/团购</a></dd>
                    <dd><a href="#">常见问题</a></dd>
                    <dd><a href="#">热门商品</a></dd>
                    <dd><a href="#">联系客服</a></dd>
                </dl>
                <dl>
                    <dt>支付方式</dt>
                    <dd><a href="#">银行转账</a></dd>
                    <dd><a href="#">在线支付</a></dd>
                    <dd><a href="#">电子发票</a></dd>
                </dl>
                <dl>
                    <dt>配送方式</dt>
                    <dd><a href="#">特快物流</a></dd>
                    <dd><a href="#">同城速递</a></dd>
                    <dd><a href="#">大批量配送</a></dd>
                </dl>
                <dl>
                    <dt>售后服务</dt>
                    <dd><a href="#">在线客服</a></dd>
                    <dd><a href="#">退换政策</a></dd>
                </dl>
                <dl>
                    <dt>服务指南</dt>
                    <dd><a href="#">常见问题</a></dd>
                    <dd><a href="#">联系我们</a></dd>
                    <dd><a href="#">投诉与建议</a></dd>
                </dl>
            </div>
            <div class="mod_copyright">
                <div class="links">
                    <a href="#">关于我们</a> | <a href="#">联系我们</a> | 联系客服 | 商家入驻 | 营销中心 | 手机 | 友情链接 | 销售联盟 | 社区 |
                    极客公益 | English Site | Contact U
                </div>
                <div class="copyright">
                    地址：北京林业大学 邮编：100083 电话：400-517-5177 传真：010-85175170 邮箱: newpro@126.com <br>
                    京ICP备08001421号京公网安备110108007702
                </div>
            </div>
        </div>
    </footer>
    <!-- 底部模块的制作 end -->
    <script src="plugins/vue/vue.js"></script>
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="js/typesearchjs.js"></script>
</body>

</html>