<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员页面</title>
    <link rel="stylesheet" href="css/register.css">
</head>

<body>
    <form action="demo.php" method="POST" class="rform" id="app">
        <h2 align=center>注册</h2>
        <em>请输入用户名:</em><input type="text" v-model="name" name="username" autofocus="autofocus" autocomplete="off"
            placeholder="请输入用户名" maxlength="20" id="username"><br>
        <em>请输入注册身份:</em><select v-model="type">
            <option value="admin">管理员</option>
            <option value="user">游客</option>
        </select><br>
        <em>请输入邮箱:</em><input type="email" name="email" v-model="email" placeholder="请输入邮箱"><br>
        <em>请输入手机号:</em><input type="tel" name="number" v-model="tel" placeholder="请输入手机号"><br>
        <em>请输入密码:</em><input type="password" name="pwd" v-model="password"><br>
        <em>请再次输入密码:</em><input type="password" name="pwd"><br>
        <input class="rbutton" type="button" value="完成注册" @click="submit"><br>

    </form>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                id: 1,
                name: "",
                type: "user",
                email: "",
                tel: 133,
                password: ""
            },
            methods: {
                submit: function () {
                    console.log(this)
                }
            },

        })
    </script>

</body>

</html>